<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:object name="productname" /> <roundcube:label name="login" /></h1>

<!-- to avoid CSS flickering, show the login form when DOMs are all ready -->
<script>$(function() { $('#layout-content').removeClass('transparent'); });</script>
<div id="layout-content" class="selected no-navbar transparent" role="main">
	<roundcube:object name="logo" src="/images/logo-login.png" data-src-small="0" id="logo" alt="Logo" />
	<h4 id="product-title" style="margin-top:-1rem; margin-bottom:2rem">
		<roundcube:object name="productname" condition="config:display_product_info &gt; 0" />
		<roundcube:if condition="config:display_product_info == 2" />
			<span class="badge badge-success" title="Powered by Roundcube" data-toggle="tooltip">
				<roundcube:object name="version" />
			</span>
		<roundcube:endif />
	</h4>
	<roundcube:form id="login-form" name="login-form" method="post" class="propform">
	<roundcube:object name="loginform" form="login-form" size="40" submit=true />
		<p id="login-extra-info">
			<span class="btn btn-danger btn-lg w-100 font-weight-bold">
				<span class="fas fa-exclamation-triangle"></span>
				本系統尚在測試中
			</span>
		</p>
		<div id="login-footer" role="contentinfo">
			<a href="https://rcmail.ee.nthu.edu.tw/" title="此系統不收信，僅供閱讀舊信件。" data-toggle="tooltip">
				舊信件系統
			</a>
			<!-- the support link is begin with "mailto:" -->
			<roundcube:if condition="config:support_url && stripos(config:support_url, 'mailto:') === 0" />
				&nbsp;&bull;&nbsp;
				<a href="<roundcube:var name='config:support_url' />" class="support-link"
					title="<roundcube:exp expression='substr(config:support_url, 7)' />" data-toggle="tooltip">
					寫信給網管
				</a>
			<!-- support link is not writing an email -->
			<roundcube:elseif condition="config:support_url && stripos(config:support_url, 'mailto:') !== 0" />
				&nbsp;&bull;&nbsp;
				<a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link">
					<roundcube:label name="support" />
				</a>
			<roundcube:endif />
			<roundcube:container name="loginfooter" id="login-footer" />
		</div>
	</form>
</div>

<noscript>
	<style> #layout-content { display: none !important; } </style>
	<p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
</noscript>

<roundcube:include file="includes/footer.html" />
