.task-login #logo {
  width: 200px;
  max-height: 200px;
}
html.layout-phone #layout-menu .popover-header {
  background: white !important;
  border-bottom: 1px #f1f3f4 solid;
  color: #2c363a;
}
html.layout-phone body:not(.task-login) #logo {
  display: none;
}
html:not(.layout-phone) #layout-menu .popover-header {
  background: white !important;
  box-sizing: border-box;
  border-bottom: 1px #d4dbde solid;
  border-right: 1px #d4dbde solid;
}
html:not(.layout-phone) #layout-menu .popover-header img {
  height: 58px;
  max-width: 78px;
  padding: 0.25rem;
}
html:not(.layout-phone) #logo-phone,
html:not(.layout-phone) #logo-title {
  display: none;
}
