html.layout-phone #layout-menu .popover-header {
  background: white !important;
  border-bottom: 1px #f1f3f4 solid;
  color: #2c363a;
}
html.layout-phone body:not(.task-login) #logo {
  display: none;
}
html:not(.layout-phone) #layout-menu .popover-header {
  background: white !important;
  box-sizing: border-box;
  border-bottom: 1px #d4dbde solid;
  border-right: 1px #d4dbde solid;
}
html:not(.layout-phone) #layout-menu .popover-header img {
  height: 58px;
  max-width: 78px;
  padding: 0.25rem;
}
html:not(.layout-phone) #logo-phone,
html:not(.layout-phone) #logo-title {
  display: none;
}
body.task-login {
  background: url(../images/blossom_mono.png) no-repeat center #fff;
}
body.task-login #layout {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.task-login #layout-content {
  background-color: transparent;
}
body.task-login #logo {
  width: 272px;
  max-height: 272px;
  margin-bottom: 2rem;
}
body.task-login #logo,
body.task-login #login-form {
  top: 0;
}
.fa,
.fas {
  font-family: Icons;
}
.fa.fa-exclamation-triangle:before,
.fas.fa-exclamation-triangle:before {
  content: "\f071";
  font-weight: 900;
}
